**/*.ko
**/*.ko.cmd
**/*.mod
**/*.mod.c
**/*.mod.cmd
**/*.mod.o
**/*.o
**/*.o.d
**/*.o.cmd
**/*.order
**/*.order.cmd
**/*.symvers
**/*.symvers.cmd
singlefile-FS/image*
/docs/*
/logs/*
secrets/*
.vscode/c_cpp_properties.json
**/*.bin
